.root {
	@apply inline-block select-none;
}

.wrapper {
	@apply grid items-center;
	width: fit-content;
	grid-template-columns: auto auto auto;
	height: 100%;
}

.data {
	margin: 0 !important;
}

.disabled {
	@apply pointer-events-none select-none opacity-50;
}
