.sizeMedium {
	& [class*='-input'] {
		height: 100px;
	}
	& textarea {
		font-size: 1rem;

		&::placeholder {
			font-size: 0.875rem;
		}
	}
}

.sizeLarge {
	& [class*='-input'] {
		height: 120px;
	}
	& textarea {
		font-size: 1.125rem;

		&::placeholder {
			font-size: 1rem;
		}
	}
}
