.parentItem {
	@apply mb-4;

	&__collapsed {
		@apply bg-neutral-bg pb-10;
	}

	&:hover .parentIcon,
	&:hover .parentArrow {
		@apply text-primary-main;
	}

	&:hover .parentTitle {
		@apply text-primary-main;
	}

	&__disabled {
		@apply pointer-events-none;
	}
}

.parentWrapper {
	@apply grid cursor-pointer items-center gap-8 px-16 py-6 no-underline transition-all;
	grid-template-columns: auto 1fr auto;
	grid-template-areas: 'icon title arrow';
}

.parentIcon {
	@apply text-neutral-400 transition-all;
	grid-area: icon;

	&__active {
		@apply text-primary-main;
	}

	&__disabled {
		@apply text-neutral-100;
	}
}

.parentTitle {
	grid-area: title;
	@apply text-neutral-main  transition-all;

	&__active {
		@apply font-weight-500 text-primary-main;
	}

	&__disabled {
		@apply text-neutral-200;
	}
}

.parentArrow {
	@apply text-neutral-300 transition-all;
	grid-area: arrow;
	width: 10px;
	height: 10px;

	&__active {
		@apply text-primary-main;
	}

	&__collapsed {
		@apply -scale-y-100;
	}

	&__disabled,
	&__disabled:hover {
		@apply text-neutral-100;
	}
}

.badgeUnverified {
	@apply ml-4 bg-warning-main text-warning-700 px-6 py-0 rounded-small;
	font-size: 14px;
}
