.sizeExtraSmall {
	@apply grid grid-flow-col items-center rounded-omg;
	height: 20px;

	& .leftSide > div,
	& .rightSide > div {
		width: 22px;
		height: 22px;
		min-width: 22px;
		min-height: 22px;
	}

	& .data {
		@apply m-0 px-4 py-0 font-weight-500;
		font-size: 0.75rem;
	}
}

.sizeSmall {
	@apply grid grid-flow-col items-center rounded-omg p-4;
	height: 30px;

	& .leftSide > div,
	& .rightSide > div {
		width: 22px;
		height: 22px;
		min-width: 22px;
		min-height: 22px;
	}

	& .data {
		@apply m-0 px-4 py-0;
		font-size: 0.875rem;
	}
}

.sizeMedium {
	@apply grid grid-flow-col items-center rounded-omg p-4;
	height: 40px;

	& .leftSide > div,
	& .rightSide > div {
		width: 32px;
		height: 32px;
		min-width: 32px;
		min-height: 32px;
	}

	& .data {
		@apply m-0 px-8 py-0;
		font-size: 1rem;
	}
}

.sizeLarge {
	@apply grid grid-flow-col items-center rounded-omg p-4;
	height: 50px;

	& .leftSide > div,
	& .rightSide > div {
		width: 42px;
		height: 42px;
		min-width: 42px;
		min-height: 42px;
	}

	& .data {
		@apply m-0 px-12 py-0;
		font-size: 1.125rem;
	}
}
