.DS_Store
Thumbs.db

**/dist
**/node_modules
**/uploads
**/.next
**/backup/*
!**/backup/*.sh
*.sql

.env.local
**/DONT_COMMIT_ME
**/DONT_COMMIT_ME.*
**/sandbox/*

todo.md
coverage.out
coverage.svg
syncthing
