@import './../../../../styles/vars.scss';
@import './styles/Sizes.part.scss';
@import './styles/Variants.part.scss';
@import './styles/States.part.scss';

.root {
	position: relative;
	width: 100%;
	transition: $transition-medium;

	& [class*='-input'] {
		position: relative;
		border-radius: $border-radius-medium;
		border: 0;
		outline-width: 1px;
		outline-style: solid;
		outline-offset: -1px;
	}
	& input {
		height: 100%;
	}

	& [class*='-label'] {
		margin: 0;
		padding: 0;
		font-weight: 400;
		font-size: 0.875rem;
		line-height: 1rem;
		margin-left: 10px;
	}

	& [class*='-icon'] {
		pointer-events: none;
	}
	& svg {
		width: 16px;
	}

	&:hover {
		& [class*='-input'] {
			outline-width: 2px;
			outline-offset: -1px;
		}
	}

	& [class*='mantine-DateRangePicker-day'][data-in-range='true'] {
		@apply bg-neutral-50;
	}

	& [class*='mantine-DateRangePicker-monthPickerControlActive'],
	& [class*='mantine-DateRangePicker-yearPickerControlActive'] {
		@apply rounded-medium bg-primary-main;
	}

	& [class*='mantine-DateRangePicker-day'][data-selected='true'] {
		@apply rounded-medium bg-primary-main;

		&[data-first-in-range='true'] {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&[data-last-in-range='true'] {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	& [class*='mantine-DateRangePicker-dropdown'] {
		@apply rounded-large;
	}
}
