.drawer {
	padding-bottom: 0 !important;
	min-height: calc(100vh);
	max-height: calc(100vh);
	overflow: hidden;
}

.wrapper {
	@apply grid;
	grid-template-columns: 400px 1fr;
	overflow: hidden;
	height: calc(100vh - 85px);

	&__disabled {
		@apply opacity-30 ;
	}
}

.leftSide {
	@apply pr-20 pb-20;
	overflow-x: hidden;
	overflow-y: auto;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.rightSide {
	@apply pl-20 grid border-l-neutral-100 border-l relative;
	grid-template-rows: auto 1fr auto;
	min-height: calc(100vh - 85px);
	max-height: calc(100vh - 85px);
	overflow: hidden;
	min-width: 0;
}

.accessDenied {
	@apply flex items-center justify-center;
	height: calc(100vh - 150px);
	
	& p {
		@apply font-weight-500 text-warning-mainDarken;
		font-size: 24px;
	}
}
