.file {
	@apply m-0 block w-100
  font-weight-500 text-excel no-underline;

	& svg {
		@apply inline-block;
	}
}

.staff {
	@apply mr-12 grid cursor-pointer
  grid-flow-col items-center gap-0;
	grid-template-columns: auto 1fr;
	min-width: 200px;

	&__text {
		@apply m-0 ml-4;
	}
}

.comment {
	@apply m-0 text-neutral-400;
}

.date {
	@apply m-0;
	min-width: 120px;
}
