.root {
	@apply m-0;

	& > div {
		@apply relative m-0 grid items-center;
		grid-template-rows: auto 1fr;
		min-height: 160px;
		max-height: 160px;
	}
}

.info {
	@apply grid h-full grid-flow-col;

	& p span {
		@apply font-weight-500;
	}
}

.sex {
	@apply grid h-full items-center;

	&__item {
		@apply grid grid-flow-col gap-4;
		grid-template-columns: auto 1fr;
	}

	&__text {
		@apply m-0;
	}

	&__icon {
		&[data-sex='all'] {
			@apply text-neutral-300;
		}

		&[data-sex='male'] {
			@apply text-male-main;
		}

		&[data-sex='female'] {
			@apply text-female-main;
		}
	}
}

.territory {
	@apply grid;
}

.skeleton {
	@apply grid grid-flow-col gap-20;
}
