.heading {
  @apply grid px-12 pb-8;
  grid-template-columns: 1fr auto;

  &__item {
    @apply font-weight-500 text-neutral-600 m-0;
  }
}

.wrapper {
  @apply grid gap-0;
}

.row {
  @apply grid items-center bg-neutral-white py-4 pr-12 rounded-medium;
  padding-left: 4px;
  grid-template-columns: 1fr 120px;

  &:hover {
    @apply bg-neutral-50;
  }

  &__staff {
    @apply grid grid-flow-col justify-start items-center gap-8;
  }

  &__info {
    @apply grid gap-1;
  }

  &__name {
    @apply m-0 text-neutral-black;
    font-size: 13px;
  }

  &__value {
    @apply m-0 font-weight-500 text-primary-main;
    font-size: 12px;
    & span {
      @apply text-neutral-400 font-weight-400;
    }
  }

  &__bars {
    @apply grid gap-3;
    width: 120px;
  }
}
