.content {
	text-align: center;
	padding: 16px 0;
}

.message {
	@apply m-0 text-neutral-600;
	font-size: 15px;
}

.taskTitle {
	@apply m-0 mt-8 text-neutral-800;
	font-size: 16px;
	font-weight: 600;
}
