@import './../../../../styles/vars.scss';

.root {
	& [class*='mantine-Prism-code'] {
		background-color: lighten($color-neutral-bg, 1) !important;
		border-radius: $border-radius-large;
		padding: 24px 8px;
		font-size: 0.875rem;
	}

	& svg {
		color: $color-primary-main;
		width: 16px;
		height: 16px;
	}
}
