.wrapper {
	@apply grid gap-20;

	grid-template-columns: 1fr 450px;
	grid-template-areas:
		'chartLine chartGauge'
		'staff staff';
}

.chartLine {
	@apply m-0 mt-20;
	grid-area: chartLine;

	> div {
		height: 300px;
	}
}

.chartGauge {
	@apply relative m-0 mt-20;
	grid-area: chartGauge;

	> div {
		height: 300px;
	}
}

.staff {
	@apply m-0 mt-20;
	grid-area: staff;
}
