.scroll {
	overflow: hidden;
	height: 100%;
}

.wrapper {
	@apply overflow-hidden overflow-y-scroll flex gap-32 flex-col-reverse items-start;
	-ms-overflow-style: none;
	scrollbar-width: none;

	height: 100%;
	&::-webkit-scrollbar {
			display: none;
	}
}

.historyItem {
	@apply m-2 ml-20 mt-20 p-16 outline outline-1 outline-neutral-100 rounded-medium relative;
	min-width: 0;
	overflow: visible;
	word-break: break-word;
}

.loader {
	margin: 40px auto 20px;
}
