.root {}

.item {
	@apply grid px-12 py-8 rounded-medium cursor-pointer;
	grid-template-columns: 1fr auto;
	&:hover {
		@apply bg-neutral-bg;
	}
}

.date {
	@apply m-0 capitalize font-weight-500 text-neutral-mainDarken;
}

.plan {
	@apply m-0;
}

.percent {
	@apply font-weight-500 ml-4 px-4 py-2 rounded-small;
	font-size: 12px;

	&__red { @apply bg-error-200 text-neutral-white; }
	&__yellow { @apply bg-warning-200 text-warning-700; }
	&__green { @apply bg-success-main text-neutral-white; }
}

.floatingButton {
	@apply absolute p-0 rounded-circle;
	width: 80px;
	height: 80px;
	top: -60px;
	left: calc(50% - 30px);
}
